@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
}

h2 {
	color: #000000;
}

/* NAVBAR START*/
.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 56px;
    height: 100vh;
    background-color: #000;
    padding: 1.25rem .5rem 2rem;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: var(--z-fixed);
  }
  
  .nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
  }
  
  .nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2rem;
    padding: 0 .5rem;
  }
  
  .nav__logo-icon {
    margin-right: 1.2rem;
  }
  
  .nav__logo-text {
    color: white;
    font-weight: 900;
  }
  
  .nav__toggle {
    position: absolute;
    top: 1.10rem;
    right: -.6rem;
    width: 18px;
    height: 18px;
    background-color: var(--second-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--first-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    color: var(--white-color);
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .nav__link:hover {
    background-color: var(--second-color);
    color: var(--first-color);
  }
  
  .nav__link.active {
    background-color: var(--second-color);
    color: var(--first-color);
  }
  
  .nav__icon {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
  
  .nav__text {
    font-weight: 700;
  }
  
  /*Show menu*/
  .show {
    width: 168px;
  }
  
  /*Rotate toggle*/
  .rotate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  /*Active links menu*/
  .active {
    background-color: var(--second-color);
    color: var(--first-color);
  }
  
  /*Add padding body*/
  .expander {
    padding: 1rem 0 0 12rem;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  
  :root {
    --first-color: #000000;
    --second-color: #F5A623;
    --white-color: #EDEDED;
  }
  
  :root {
    --body-font: 'Quicksand', sans-serif;
    --small-font-size: 0.875rem;
  }
  
  @media screen and (min-width: 768px) {
    :root {
      --small-font-size: 0.938rem;
    }
  }
  
  :root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
  }
  /* NAVBAR END*/


/* LOGIN & REGISTER FORM */

form {
	width: 30%;
	height: auto;
	margin: 200px auto;
	background-color: #f4efef;
	border-radius: 3px;
	box-shadow: 0 0 10px rgba(0,0,0, .4); 
	text-align: center;
	padding-top: 10px;
  padding-bottom: 30px;
}

form.register{																				/* Register form height */
	height: 420px;
}

form .text-field {																			/* Input fields; Username, Password etc. */
	border: 1px solid #a6a6a6;
	width: 230px;
	height: 40px;
	border-radius: 3px;
	margin-top: 10px;
	padding-left: 10px;
	color: #6c6c6c;
	background: #fcfcfc;
	outline: none;
}

form .text-field:focus {
	box-shadow: inset 0 0 2px rgba(0,0,0, .3);
	color: #a6a6a6;
	background: white;
}

form .button {																				/* Submit button */
	border-radius: 3px;
	border: 1px solid #000000;
	box-shadow: inset 0 1px 0 #8dc2f0;
	width: 242px;
	height: 40px;
	margin-top: 20px;
	
    background: linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    background: -o-linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    background: -moz-linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    background: -webkit-linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    background: -ms-linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    
    
	
	cursor: pointer;
	color: rgb(29, 24, 24);
	font-weight: bold;
	text-shadow: 0 -1px 0 #336895;
	
	font-size: 13px;
}

form .button:hover {
	background: linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -o-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -moz-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -webkit-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
	background: -ms-linear-gradient(bottom, #5c96c9 0%, #6bafea 100%);
}

form .button:active {
    background: linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    background: -o-linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    background: -moz-linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    background: -webkit-linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
    background: -ms-linear-gradient(bottom, #F5A623 0%, #FFEB3B 100%);
	
	box-shadow: inset 0 0 2px rgba(0,0,0, .3), 0 1px 0 white;
}